<!DOCTYPE html>
<html ng-app="demo">
<head>
    <meta charset="UTF-8">
    <title>angularjs medium editor | demo</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/demo.css">
    <link rel="stylesheet" href="../bower_components/medium-editor/dist/css/medium-editor.css">
    <link rel="stylesheet" href="../bower_components/medium-editor/dist/css/themes/default.css">
    <style>
    </style>
</head>
<body>
    <div id="container" ng-controller="demo">
        <h1>Medium Editor for AngularJS</h1>
        <h2>Type Here:</h2>
        <form name="demo">
            <div name="text" ng-model="text" required medium-editor bind-options="{'placeholder': {text: 'This is a placeholder'},
                    'buttons': ['bold', 'italic', 'underline', 'header1', 'header2', 'quote', 'orderedlist', 'unorderedlist']}"></div>
        </form>
        <button type="button" ng-click="text=''">Clear</button>
        <h2>Validation:</h2>
        <pre>{{demo.text.$error}}</pre>
        <h2>Model:</h2>
        <pre>{{text}}</pre>
    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/medium-editor/dist/js/medium-editor.js"></script>
    <script src="../dist/angular-medium-editor.js"></script>
    <script >
      angular.module('demo', ['angular-medium-editor'])
        .controller('demo', ['$scope', function($scope) {
          $scope.text = 'This text gets is shown via .$render()';
        }]);

    </script>
</body>
</html>
